.container {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 40px -24px #37477E99;
    font-family: "Poppins", sans-serif;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.addContainer {
    border: var(--main-color) solid 1px;
    align-self: start;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    height: 50px;
    width: 90px;
    border-radius: 0 16px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    user-select: none;
    cursor: pointer;
}

.searchbar input {
    margin: 10px 0;
    max-width: 300px;
    min-width: 100px;
    background-color: #F3F3F3;
    border: #EDEDED 1px solid;
    height: 32px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #BBBBBB;
    padding-left: 30px;
    border-radius: 0 10px 10px 0;
    font-family: "Poppins", sans-serif;
}

.searchbar input:focus {
    border: var(--main-color) 1px solid;
    border-left: #EDEDED 1px solid;
    outline: none !important;
}

.table thead th {
    color: #999999;
    font-weight: 500;
    padding: 15px 6px;
    font-size: 14px;
    border-bottom: 1px solid #E1E1E1;
    text-align: left;
}

.table tbody td {
    white-space: nowrap;
    padding: 12px 6px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
    color: #16213B;
}

.body {
    padding: 0 50px;
    overflow-x: scroll;
}