:root {
    --sidebar-width: 0;
    --main-color: #114358;
    --secondary-color: #F2AA1F;
    --secondary-text: #F1ECE7;
}

.App {
  text-align: center;
  height: 100%;
  background-color: rgb(238, 238, 238);
}

html,
body,
#root {
  height: 100%;
  background-color: rgb(238, 238, 238);
}

.mainContainer {
    display: flex;
    height: 100%;
    margin-left: calc(var(--sidebar-width) + 30px);
    margin-right: 30px;
    transition: margin-left 0.3s ease-in-out;
    padding-top: 120px;
    margin-bottom: 40px;
}

.formContainer {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
    padding: 20px 40px 40px 40px;
    text-align: left;
    margin-bottom: 40px;
}

.formTitle {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.formButtons {
    display: flex;
    justify-content: end;
    margin-top: 40px;
}